.typing-effect {
    font-family: 'Times',
    font-size: 20px;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: black;
    vertical-align: middle;
    margin-left: 2px;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: .75;
    }
}
